POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retroachievements
POSTGRES_USER=retroachievements
POSTGRES_PASSWORD=change_me

RA_USERNAME=your_username_here
RA_API_KEY=your_api_key_here

DOCKER_USERNAME=your_dockerhub_username